<h1><%= @task.details%></h1>
<div class="container mt-5">
  <%= link_to "âœðŸ» Edit the task", edit_path%>
</div>

<% if @task.completed %>
    <i class="fa fa-check-square-o"></i> This task is completed
 <% else %>
    <i class="fa fa-square-o"></i> This task is not completed yet
 <% end %>

 <hr>
  <%= link_to tasks_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
